//
// Settings
// -------------------------------

$base-font-size: 16px;
@include establish-baseline;

// border-box-sizing()
@include border-box-sizing;


//
// Responsive Grid Settings (SUSY)
// -------------------------------

$show-grid-backgrounds: false;

// Mobile Layout
$total-columns:   8;
$column-width:    3em;
$gutter-width:    1em;
$grid-padding:    $gutter-width;

// Breakpoints (When there's room for the specified columns.)
$tablet:    12; 
$desktop:   16;

$container-style: fluid;

.container {
  // Include `container` if this element will contain a grid system.
  @include container($total-columns);
  @include susy-grid-background;
}

// Automatically reset the grid width & re-apply the grid background
// to responsive layouts.

$layouts: $tablet, $desktop;

@each $layout in $layouts {
  @include at-breakpoint($layout) {

    .container {
      @include set-container-width;
      @include susy-grid-background;
    }
  }
}