//
// BASE Global Styling
// 
// Primarily Single Selectors
// -----------------------------------------

html {
	-webkit-font-smoothing: antialiased; // Anti-Aliasing on Chrome/Safari mac.
	color: $font-color;
}

body {
	background: $body-color;
}

// Force images to scale down to their container widths.
img {
  max-width: 100%;
  height: auto;
}

a{
  &:hover {

  }
  &:visited {
    
  }
}