
// Base Colors
// ---------------------------
$primary: tomato;       // Tomato Red
$secondary: papayawhip; // Beige
$tertiary: whitesmoke;  // Greyish White

$dark: #000000;         // Base Dark Color
$light: #ffffff;        // Base White Color


//  Website Colors
// ---------------------------

$body-color: $tertiary;

$font-color: lighten($dark, 10%);
