//
// Class, SASS Variables and SASS Mixins
// Use @extend for this 
// or mixin if used in mediaquery
// ------------------------------------------

%clearfix {
  @include clearfix;
}

%pie-clearfix {
  @include pie-clearfix;
}

@mixin truncate {
  // Apply width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  %truncate {
    @include truncate;
  }


// Extend Examples
%shadowBorder {
  @include box-shadow(0 1px 5px rgba($dark,0.3));
  border: {
    style: solid;
    color: $light;
    width: 5px;
  }
}

%space {
  margin-bottom: $spacing/2;
  margin-top: $spacing/2;
}

%box {
  @include border-radius(3px);
  @extend %shadowBorder;
  @extend %space;
  background-color: $light;
}

%thumbnail {
  @extend %shadowBorder; 
  @extend %space;
}
  %thumbnail--round {
    @extend %thumbnail;
    @include border-radius(50%);
  }