//
// Responsive Grid Settings (SUSY)
// -------------------------------

$show-grid-backgrounds: false;
$container-style: fluid;

// Container Settings
$total-columns:   8;
$column-width:    3em;
$gutter-width:    1em;
$grid-padding:    $gutter-width;

// Breakpoints (When there's room for the specified columns.)
$tablet:    12; 
$desktop:   16;

$layouts: $tablet, $desktop;


.container {
  @include container($total-columns);         // Include this, if this should contain the grid system
  max-width: container-outer-width($desktop); // Set container width to be the same size as our desktop breakpoint
}


// Automatically reset the grid width & re-apply the grid background
// to responsive layouts.
@each $layout in $layouts {
  @include at-breakpoint($layout) {
    .container {
      @include set-container-width;
      @if $show-grid-backgrounds == true {
        @include susy-grid-background;
      }
    }
  }
}



//
// Settings
// -------------------------------

$base-font-size: 16px;
@include establish-baseline;

// border-box-sizing()
@include border-box-sizing;

$spacing: $gutter-width;
