- @title = "New Project"
- @bodyclass = "insert-body-class-here"

.GoGoGo
  :markdown
    ## Use Markdown is you want, or delete the :markdown and write in pure HAML.
    [Markdown Syntax](http://daringfireball.net/projects/markdown/syntax)


= partial "partials/dummy"


// Placeimage Helper - Picks random if nothing is defined
= placeimage(:width => 300, :height => 300)
// It can be anything from sheen or cage, to kitten or dog. Check helper in Config.rb
= placeimage(:width => 300, :height => 300, :place => 'cage')
