- @title = "Nordea"
- @bodyclass = ""

:markdown
  # Nordea Responsiv
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, placeat, minus, impedit, neque at aperiam ipsum veniam provident ab corporis facere est aliquam saepe nisi maxime optio beatae quos quaerat!


= partial "partials/dummy"